<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <script type="text/javascript" th:src="@{https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/wechat.js}"></script>
    <script type="text/javascript" th:src="@{https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js}"></script>
    <link th:href="@{https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css}" rel="stylesheet"/>
    <link th:href="@{/css/default.css}" rel="stylesheet"/>
    <link rel="icon" th:href="@{/images/favicon.ico}" type="image/x-icon"/>
    <meta charset="UTF-8"/>
    <title>欢迎页面</title>
</head>

<body>
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <div class="panel panel-primary" style="margin-left: 50%;width:100%;height:850px">
                <div class="panel-heading text-center">
                    <span class="panel-title">无聊聊天室</span>
                </div>
                <div class="panel-body" style="height: 650px;border: 1px solid black">
                    <div id="message"></div>

                </div>
                <div class="panel-bottom " style="margin-top:10px">
                    <div style="margin-top: 10px;">
                        <input type="text" id="text" class="text-input" style="height: 30px;width:75%" placeholder="输入你想说的话..">
                        <button class="btn btn-primary" style="width:20%;margin-left: 1px" onclick="sendMessage()">发送</button>
                    </div>
                    <div style="margin-top: 10px;">
                        <input type="text" id="receiveId" class="text-input" style="height: 30px;width:75%" placeholder="频道号">
                        ＠说悄悄话
                    </div>
                    <div style="margin-top: 20px">
                        <button class="btn btn-primary" data-toggle="modal" data-target="#myModal">加入聊天室</button>
                        <button class="btn btn-primary" onclick="closeWebscoket()">退出聊天室</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- 创建昵称模态框（Modal） -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">创建昵称</h4>
                </div>
                <div class="modal-body">
                    请输入你的昵称：　<input type="text" id="nickName" class="text-input-dialog">
                </div>
                <div class="modal-footer" style="text-align: center">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    <button type="button" class="btn btn-primary" onclick="connectWebsocket()">提交</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal -->
    </div>
</div>
</body>
</html>
